[Unit]
Description=Nginx Load balance proxy Ntipa
After=etcd.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull tornabene/ntipa-nginx 
ExecStart=/usr/bin/docker run --name nginx -p ${COREOS_PUBLIC_IPV4}:80:80 tornabene/ntipa-nginx
ExecStop=/usr/bin/docker stop nginx
