[Unit]
Description=Ntipa box
After=etcd.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill ntipa-box-%i
ExecStartPre=-/usr/bin/docker rm ntipa-box-%i
ExecStartPre=/usr/bin/docker pull tornabene/ntipa-box
ExecStart=/usr/bin/docker run --name ntipa-box-%i -p  %i:8333  --link postgres:postgres.ntipa.it  --link rabbitmq:rabbitmq.ntipa.it --link solr:solr.ntipa.it  --link  mongodb:mongo.ntipa.it   tornabene/ntipa-box 
ExecStartPost=/usr/bin/etcdctl set /ntipa/apis/box/%i ${COREOS_PRIVATE_IPV4}:%i
ExecStop=/usr/bin/docker stop ntipa-box-%i
ExecStopPost=/usr/bin/etcdctl rm /ntipa/apis/box/%i

